/* styles.css */

body {
  font-family: Arial, sans-serif;
  color: #e4e4e4;
  background-color: #222;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

header {
  text-align: center;
  color: #a4d4a4;
  background-color: #444;
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  border-bottom: 1px solid #333;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

header p {
  margin: 0;
  font-size: 0.9em;
}

#demo {
  max-width: 100%;
  width: 100%;
  padding: 1em;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: 20px;
}

h2, h3 {
  color: #4caf50;
}

#code-container, #output-container, #test-container {
  background-color: #444;
  padding: 1em;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  width: 100%;
}

pre {
  font-size: 1em;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #e4e4e4;
  width: 100%;
}
